body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(252, 240, 188);
}

.loading {
    width: 60px;
    height: 60px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #22a6b3;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    to { transform: rotate(360deg) }
}